        <br><br><nav class="w3-sidebar w3-bar-block w3-light-gray" style="width:15%">
  <a href="/pages/home" class="w3-bar-item w3-button w3-animate-left">Home</a><br>
  <a href="/microposts" class="w3-bar-item w3-button w3-animate-left">Microposts</a><br>
  <a href="/users" class="w3-bar-item w3-button w3-animate-left">Users</a> <br>
  <a href="/pages/help" class="w3-bar-item w3-button w3-animate-left">Help</a><br>
  <a href="/pages/about" class="w3-bar-item w3-button w3-animate-left">About</a> 
</nav><div class="w3-display-topright" style="width:80%"><h1>About Toy App</h1>
<br><hr>
<h3>In order to understand how Toy App works, please visit these pages:</h3><br><br>
<h3><a href="https://www.railstutorial.org/">Rails Tutorial</a></h3><br>
<h3><a href="http://guides.rubyonrails.org/">Rails Guides</a></h3><br>
<h3><a href="https://www.w3schools.com/">w3schools</a></h3><br>
<h3>Also, a great resource for this app is a book called Agile Web Development with Rails 5 by Sam Ruby, Dave Thomas, & David Heinemeier Hansson.</h3></div>