        <nav class="w3-sidebar w3-bar-block w3-light-gray" style="width:15%">
  <a href="https://toy-app-johnmal.c9users.io/" class="w3-bar-item w3-button w3-animate-left">Home</a> 
  <a href="https://toy-app-johnmal.c9users.io/pages/about" class="w3-bar-item w3-button w3-animate-left">About</a> 
  <a href="https://toy-app-johnmal.c9users.io/pages/help" class="w3-bar-item w3-button w3-animate-left">Help</a> 
  <a href="https://toy-app-johnmal.c9users.io/microposts" class="w3-bar-item w3-button w3-animate-left">Microposts</a> 
  <a href="https://toy-app-johnmal.c9users.io/users" class="w3-bar-item w3-button w3-animate-left">Users</a> 
</nav><div class="w3-display-topright" style="width:80%"><h1>About Toy App</h1>
<br>
<h2>In order to understand how Toy App works, please visit these pages:</h2>
<h2><a href="https://www.railstutorial.org/">Rails Tutorial</a></h2>
<h2><a href="http://guides.rubyonrails.org/">Rails Guides</a></h2>
<h2><a href="https://www.w3schools.com/">w3schools</a></h2>
<h2>Also, a great resource for this app is a book called Agile Web Development</h2></div>