<h1>About Toy App</h1>
<br>
<p>In order to understand how Toy App works, please visit these pages:</p>
<p><a href="https://www.railstutorial.org/">Rails Tutorial</a></p>
<p><a href="http://guides.rubyonrails.org/">Rails Guides</a></p>
<p><a href="https://www.w3schools.com/">w3schools</a></p>
<p>Also, a great resource for this app is a book called Agile Web Development</p>