        <br><br><nav class="w3-sidebar w3-bar-block w3-light-gray" style="width:15%">
  <a href="/pages/home" class="w3-bar-item w3-button w3-animate-left">Home</a><br>
  <a href="/microposts" class="w3-bar-item w3-button w3-animate-left">Microposts</a><br>
  <a href="/users" class="w3-bar-item w3-button w3-animate-left">Users</a> <br>
  <a href="/pages/help" class="w3-bar-item w3-button w3-animate-left">Help</a><br>
  <a href="/pages/about" class="w3-bar-item w3-button w3-animate-left">About</a> 
</nav><div class="w3-display-topright" style="width:80%"><h1>How to use John's Toy App!</h1>
<br><hr style="color:#99CC99">
<p>When entering John's Toy App, you are greeted at the home page.</p><br>
<p>By clicking "users", you may add youself as a user by clicking "new user" and filling out your name, email, and clicking save.</p><br>
<p> After you save youself as a user, click "back" to view a list of users on John's Toy App.</p><br>
<p>Now that you are a user,you are able to post to the micropost page!</p><br>
<p>Please click the micropost link on the left to be re-directed to the micropost page after you finish reading the help page!</a><br><br>
<p>Once you enter the "micropost" page, you are able to post on to John's Toy App!</p></div>
