        <nav class="w3-sidebar w3-bar-block w3-light-gray" style="width:15%">
  <a href="https://toy-app-johnmal.c9users.io/" class="w3-bar-item w3-button w3-animate-left">Home</a> 
  <a href="https://toy-app-johnmal.c9users.io/pages/about" class="w3-bar-item w3-button w3-animate-left">About</a> 
  <a href="https://toy-app-johnmal.c9users.io/pages/help" class="w3-bar-item w3-button w3-animate-left">Help</a> 
  <a href="https://toy-app-johnmal.c9users.io/microposts" class="w3-bar-item w3-button w3-animate-left">Microposts</a> 
  <a href="https://toy-app-johnmal.c9users.io/users" class="w3-bar-item w3-button w3-animate-left">Users</a> 
</nav><div class="w3-display-topright" style="width:80%"><h1>How to use John's Toy App!</h1>
<br>
<p>When entering John's Toy App, you are greeted at the "Users" page.</p>
<p>You may add youself as a user by clicking "new user" and filling out your name, email, and clicking save.</p>
<p> After you save youself as a user, click "back" to view a list of users on John's Toy App.</p>
<p>Now that you are a user,you are able to post to the micropost page!</p>
<p><a href="https://toy-app-johnmal.c9users.io/microposts">Please click this link to be re-directed to the micropost page after you finish reading the help page!</a>
<p>Once you enter the "micropost" page, you are able to post on to John's Toy App</p></div>
