        <br><br><nav class="w3-sidebar w3-bar-block w3-light-gray" style="width:15%">
  <a href="/pages/home" class="w3-bar-item w3-button w3-animate-left">Home</a><br>
  <a href="/microposts" class="w3-bar-item w3-button w3-animate-left">Microposts</a><br>
  <a href="/users" class="w3-bar-item w3-button w3-animate-left">Users</a> <br>
  <a href="/pages/help" class="w3-bar-item w3-button w3-animate-left">Help</a><br>
  <a href="/pages/about" class="w3-bar-item w3-button w3-animate-left">About</a> 
</nav><div class="w3-display-topright" style="width:80%"><div class="w3-animate-left"><h1>Welcome to John's Toy App homepage!</h1><br><br></div>
<p>John's Toy App is a place where you can become a user and post to a micropost!</p></div>
<br><br><br><br><br><br>
<%= image_tag("ruby.png", :alt => "ruby", size: "400x400", :style => "float :center;") %>
