        <nav class="w3-sidebar w3-bar-block w3-light-gray" style="width:15%">
  <a href="https://toy-app-johnmal.c9users.io/" class="w3-bar-item w3-button w3-animate-left">Home</a> 
  <a href="https://toy-app-johnmal.c9users.io/pages/about" class="w3-bar-item w3-button w3-animate-left">About</a> 
  <a href="https://toy-app-johnmal.c9users.io/pages/help" class="w3-bar-item w3-button w3-animate-left">Help</a> 
  <a href="https://toy-app-johnmal.c9users.io/microposts" class="w3-bar-item w3-button w3-animate-left">Microposts</a> 
  <a href="https://toy-app-johnmal.c9users.io/users" class="w3-bar-item w3-button w3-animate-left">Users</a> 
</nav><div class="w3-display-topright" style="width:80%"><div class="w3-animate-left"><h1>Welcome to John's Toy App home page!</h1></div>
<p>John's Toy App is a place where you can become a user and post to a micropost!</p></div>
